/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  padding: 1rem 1rem 1rem;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
}

mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
