<mat-card *ngFor="let issue of issues" class="issue-card">
  <div class="issue-card__subtitle">
    <mat-card-subtitle>{{ issue['user']['login'] }} </mat-card-subtitle>
    <mat-card-subtitle> #{{ issue['number'] }}</mat-card-subtitle>
  </div>
  <mat-card-title>{{ issue['title'] }}</mat-card-title>
  <mat-card-content
    [class]="fadeContentBody(issue)"
    class="issue-card__content"
  >
    <p>{{ issue['body'] }}</p>
  </mat-card-content>
  <mat-divider class="divider--issue-card" inset></mat-divider>
  <mat-card-content> {{ issue['created_at'] | date }}</mat-card-content>
  <mat-card-actions>
    <a [href]="issue['html_url']" target="_blank" color="accent" mat-button
      >GO TO ISSUE</a
    ></mat-card-actions
  >
</mat-card>
