@use '../../styles/variables.scss' as var;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.checkbox {
  margin: auto auto 1rem;
}

.issue-card {
  margin: 1rem;
  width: var.$card-width;
  max-width: 1000px;

  &__subtitle {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    overflow-y: hidden;
    max-height: 256px;
  }
}

.divider--issue-card {
  margin-bottom: 1rem !important;
}

.fade {
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

@media only screen and (max-width: 600px) {
  .issue-card {
    width: var.$sm-card-width;
  }
}
